{% extends 'core/base.html' %}

{% block title %}Contact{% endblock title %}

{% block background %}{% load static %}{% static 'core/img/contact01.jpg' %}{% endblock background %}

{% block headers %}
    <h1>Contact</h1>
    <!-- <span class="subheading">Cloud OS DevOps & Infrastructure Engineering</span>-->
{% endblock headers %}


{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <center>
            <p></p>To contact me, send me an e-mail to: juanpabloborrell@gmail.com </p>
            <p>If you need my CV in PDF format, I will gladly send it to you. </p>
        </center>
        <!-- <p><b>Honorarios:</b> 60€/h (precio base)</p> -->
    </div>
</div>
{% endblock content %}